#city-input, #weather-output {
    max-width: 600px;
    margin: 0 auto;
    z-index: 100;
    background-color: white;
    border-radius: 10px;

}
  
.banner {
    color: #FFD23F;
    font-family: sans-serif;
}
body,html{
    height: 100%;
}
body{
    background-color: #a5a5b1 ;
    display: grid;
    place-items: center;
    align-items: center;
    background-image: url(./assets/Background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}




git init

git add .

git commit -m " test this app"

git remote add origin https://github.com/Deepali-1508/flutterapp.git

git push


